// Button
.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        padding: 1rem 1rem;
        border-radius: 50px;
        border: none;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;

        cursor: pointer;
        transition: all .15s;
    }

    &:active,
    &:focus {
        outline: none;
        opacity: 1;
    }

    &--icon {
        height: 2.5rem;
        width: 2.5rem;
        opacity: .7;
    }
}

// Input
.input {
    display: block;
    width: 100%;
    padding: 2rem 2rem;
    font-family: inherit;
    color: inherit;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    transition: all .2s;

    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder {
        color: var(--color-grey);
    }
}
