// Button
.btn-icon {
    &,
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        padding: 1rem 2rem;
        border-radius: 50px;
        border: none;
        box-shadow: 0 .3rem .7rem rgba(0, 0, 0, .2);
        background-color: var(--color-primary);
        color: var(--color-white);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;

        cursor: pointer;
        transition: all .15s;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 .5rem .7rem rgba(0, 0, 0, .2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(1px);
        box-shadow: 0 .3rem .7rem rgba(0, 0, 0, .2);
    }
}

// Input
.input {
    font-family: inherit;
    color: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    width: 100%;
    display: block;
    box-shadow: 0 .3rem .7rem rgba(0, 0, 0, .2);
    transition: all .2s;

    &:focus {
        outline: none;
        box-shadow: 0 .5rem .7rem rgba(0, 0, 0, .2);
    }

    &::-webkit-input-placeholder {
        color: var(--color-grey-dark);
    }
}
