.subscriber {
    @include centerContent;

    width: 100%;
    max-width: 60rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    &--img {
        height: 18rem;
        margin: 3rem 0;
    }

    &--form {
        display: flex;
        align-items: center;
        border-radius: 50px;
        background-color: var(--color-white);
        box-shadow: 0 -.3rem 1.2rem rgba(0, 0, 0, .15);
    }
}

.chat-form {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2rem;
    width: calc(100% - 4rem); // 2rem right + 2rem left = 4rem of margin
    border-radius: 50px;
    background-color: var(--color-white);
    box-shadow: 0 -.3rem 1.2rem rgba(0, 0, 0, .15);

    display: flex;
    align-items: center;
}

.chat-list {
    overflow: auto;
    height: calc(100vh - 9rem);
    padding: 1rem;

    &--item {
        margin-bottom: .8rem;
    }
    
    &--item-special {
        list-style-type: none;
        padding: .5rem 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--color-grey-dark);
    }

    &--item-other-user {
        list-style-type: none;
        max-width: 70%;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: var(--color-white);
        border-radius: 0 5px 5px 5px;
    }

    &--item-user {
        list-style-type: none;
        max-width: 70%;
        margin-left: 30%;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 5px 0 5px 5px;
    }
}
